---
import Layout from './layouts/Index.astro';
import Hero from './sections/hero/Hero.astro';
import Projects from "./sections/projects/Projects.astro"
import About from './sections/about/About.astro';
import Contact from './sections/contact/Contact.astro';
---

<Layout title="Mi Portfolio">
	<main>
		<Hero />
		<Projects />
		<About />
		<Contact />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>